<!DOCTYPE html>
<html lang="en">
  <link rel="icon" href="{% static 'static/icon.png' %}" type="image/x-icon" />
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>Popup Example</title>
    <style>
      .popup {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
      }
    </style>
  </head>
  <body>
    <div class="overlay"></div>
    <div class="popup">Please wait, your results are being generated...</div>

    <button class="bold"><a href="#">Submit</a></button>

    <script src="script.js"></script>
  </body>
</html>
